In [2]:
import os
import sys
notebook_dir = os.path.dirname(os.path.abspath("__file__"))
project_root = os.path.abspath(os.path.join(notebook_dir, '..', '..'))
sys.path.append(project_root)

In [3]:
from dotenv import load_dotenv
from src.database.db_handler import DatabaseHandler

In [4]:
load_dotenv()

True

In [5]:
db_host = os.environ.get("DB_HOST")
db_name = os.environ.get("DB_NAME")
db_user = os.environ.get("DB_USER")
db_password = os.environ.get("DB_PASSWORD")
db_port = os.environ.get("DB_PORT")
db = DatabaseHandler(
    host=db_host,
    database=db_name,
    user=db_user,
    password=db_password,
    port=db_port
)

db.connect()

In [6]:
df = db.get_metrics()

Retrieved 13 alert records.

/home/ubuntu/jn/src/database/db_handler.py:545: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

In [7]:
df

,date,model_name,model_version,accuracy,precision_val,recall,f1_score,roc_auc,conf_matrix
0,2025-04-16,test,hgb_v3,0.7031,0.4143,0.8125,0.5488,0.8250,"[[301, 147], [24, 104]]"
1,2025-04-18,test,hgb_v3,0.7153,0.5245,0.8427,0.6466,0.8381,"[[262, 136], [28, 150]]"
2,2025-04-19,test,hgb_v3,0.5938,0.2300,0.9583,0.3710,0.7870,"[[273, 231], [3, 69]]"
3,2025-04-20,test,hgb_v3,0.6528,0.0000,0.0000,0.0000,0.0000,"[[376, 200], [0, 0]]"
4,2025-04-21,test,hgb_v3,0.7917,0.5608,0.7413,0.6386,0.8747,"[[350, 83], [37, 106]]"
5,2025-04-22,test,hgb_v3,0.6667,0.3197,0.9053,0.4725,0.9000,"[[298, 183], [9, 86]]"
6,2025-04-15,test,hgb_v3,0.7396,0.4559,0.9841,0.6231,0.9236,"[[302, 148], [2, 124]]"
7,2025-04-14,test,hgb_v3,0.6597,0.3719,0.8618,0.5196,0.8445,"[[274, 179], [17, 106]]"
8,2025-04-13,test,hgb_v3,0.6736,0.3109,0.7551,0.4405,0.8113,"[[314, 164], [24, 74]]"
9,2025-04-23,test,hgb_v3,0.7934,0.5055,0.7603,0.6073,0.8570,"[[365, 90], [29, 92]]"
10,2025-04-24,test,hgb_v3,0.5365,0.2622,0.5000,0.3440,0.5403,"[[239, 197], [70, 70]]"
11,2025-04-25,test,hgb_v3,0.7014,0.3546,0.8990,0.5086,0.8316,"[[315, 162], [10, 89]]"
12,2025-04-26,test,hgb_v3,0.6927,0.3621,0.8000,0.4986,0.8206,"[[311, 155], [22, 88]]"